<template>
  <div class="home">
    <b-container>
      <h1>Prima por Cobrar</h1>
      <br />
      <br />
      <b-row>
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pesos</h5>
                <b-form-input
                  class="text-center"
                  id="input-1 "
                  disabled
                  v-model="pesos"
                ></b-form-input>
                <br />
                <div class="row">
                  <div class="col-6 text-primary">
                    <label id="input-1">70%</label>
                    <b-form-input
                      class="text-center text-primary"
                      disabled
                      id="input-1"
                      v-model="porcenPrecioPos"
                    ></b-form-input>
                  </div>
                  <div class="col-6 text-danger">
                    <label id="input-1 ">30%</label>
                    <b-form-input
                      class="text-center text-danger"
                      disabled
                      id="input-1"
                      v-model="porcenPrecioNeg"
                    ></b-form-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Dolar</h5>
                <b-form-input
                  class="text-center"
                  id="input-1 "
                  disabled
                  v-model="dolares"
                ></b-form-input>
                <br />
                <div class="row">
                  <div class="col-6 text-primary">
                    <label id="input-1">70%</label>
                    <b-form-input
                      class="text-center text-primary"
                      disabled
                      id="input-1"
                      v-model="porcenPrecioPosDolar"
                    ></b-form-input>
                  </div>
                  <div class="col-6 text-danger">
                    <label id="input-1 ">30%</label>
                    <b-form-input
                      class="text-center text-danger"
                      disabled
                      id="input-1"
                      v-model="porcenPrecioNegDolar"
                    ></b-form-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Euros</h5>
                <b-form-input
                  class="text-center"
                  id="input-1 "
                  disabled
                  v-model="euros"
                ></b-form-input>
                <br />
                <div class="row">
                  <div class="col-6 text-primary">
                    <label id="input-1">70%</label>
                    <b-form-input
                      class="text-center text-primary"
                      disabled
                      id="input-1"
                      v-model="porcenPrecioPosEuro"
                    ></b-form-input>
                  </div>
                  <div class="col-6 text-danger">
                    <label id="input-1 ">30%</label>
                    <b-form-input
                      class="text-center text-danger"
                      disabled
                      id="input-1"
                      v-model="porcenPrecioNegEuro"
                    ></b-form-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-row>
      <br />
      <br />
      <b-form-select v-model="selecciona">
        <option :value="null" disabled>Seleccione un estado</option>
        <b-select-option
          :value="item"
          v-for="(item, index) in stateList"
          :key="index"
        >
          {{ item.estado }}
        </b-select-option>
      </b-form-select>
      <br />
      <br />
      <b-button @click="getSerchCompany(selecciona)">Buscar</b-button>
      <br />
      <br />

      <div v-if="!items || items.length == 0">
        <b-alert variant="primary" show>No hay companias</b-alert>
      </div>
      <div v-else>
        <b-table :items="items" :fields="fields">
          <template v-slot:cell(antiguedad)="data">
            <div v-if="data.item.color === 'Rojo'" class="bg-danger">
                   {{ data.item.antiguedad}}
            </div>
            <div v-if="data.item.color === 'Verde'" class="bg-success">
                   {{ data.item.antiguedad}}
            </div>
            <div v-if="data.item.color === 'Amarillo'" class="bg-warning">
                   {{ data.item.antiguedad}}
            </div>
          </template>
          <template v-slot:cell(diasVencidos)="data">
            <div v-if="data.item.color === 'Rojo'" class="bg-danger">
                   {{ data.item.diasVencidos}}
            </div>
            <div v-if="data.item.color === 'Verde'" class="bg-success">
                   {{ data.item.diasVencidos}}
            </div>
            <div v-if="data.item.color === 'Amarillo'" class="bg-warning">
                   {{ data.item.diasVencidos}}
            </div>
          </template>
        </b-table>
      </div>
    </b-container>
  </div>
</template>

<script>
import axios from "../plugins/axios";
export default {
  name: "Home",
  data() {
    return {
      items: null,
      prueba: null,
      fields: [
        { key: "fianza", label: "Fianza", sortable: true },
        { key: "movimiento", label: "Movimiento", sortable: true },
        { key: "fiado", label: "Fiado", sortable: true },
        { key: "antiguedad", label: "Antiguedad", sortable: true },
        { key: "diasVencidos", label: "Dias de Vencimiento", sortable: true },
        { key: "importe", label: "Importe", sortable: true },
      ],
      stateList: null,
      selecciona: null,
      moneda: null,
      pesos: null,
      dolares: null,
      euros: null,
      porcenPos: "70%",
      porcenNeg: "30%",
      porcenPrecioPos: null,
      porcenPrecioPosDolar: null,
      porcenPrecioPosEuro: null,
      porcenPrecioNeg: null,
      porcenPrecioNegDolar: null,
      porcenPrecioNegEuro: null,
      color:null
    };
  },
  methods: {
    getConsultaEstado() {
      axios.get("office/offices").then((response) => {
        this.stateList = response.data;
        console.log(response.data);
      });
    },
    getConsultaOficinas() {
      axios.get("office/oficina/id/1").then((response) => {
        this.stateList = response.data;

        console.log(response.data);
      });
    },
    getSerchCompany(idEstado) {
      this.pesos = 0;
      this.porcenPrecioPos = 0;
      this.porcenPrecioNegDolar = 0;
      this.dolares = 0;
      this.porcenPrecioPosDolar = 0;
      this.porcenPrecioNeg = 0;
      this.euros = 0;
      this.porcenPrecioPosEuro = 0;
      this.porcenPrecioNegEuro = 0;
      var id = idEstado.id_oficina;
      var rest;
      var pos;
      axios.get("company/estado/" + id).then((response) => {
        this.items = response.data;
        console.log(response.data)
        for (var i = 0; i < response.data.length; i++) {
          this.pesos += response.data[i].importe;
          this.color=response.data[i].color
          
          this.dolares = this.pesos * 20;
          this.euros = this.pesos * 25;

          rest = this.pesos * 0.3;
          pos = this.pesos * 0.7;
          this.porcenPrecioNeg = rest.toFixed(2);
          this.porcenPrecioPos = pos.toFixed(2);

          this.porcenPrecioNegDolar = (rest * 20).toFixed(2);
          this.porcenPrecioPosDolar = (pos * 20).toFixed(2);

          this.porcenPrecioNegEuro = (rest * 25).toFixed(2);
          this.porcenPrecioPosEuro = (pos * 25).toFixed(2);
        }
      });
    },
  },
  mounted() {
    //this.getAll()
    this.getConsultaEstado();
    //this.getSerchCompany()
  },
};
</script>
